In [1]:
import os
import time
import numpy as np
import pandas as pd
import lancedb
from lancedb.embeddings import with_embeddings
from functools import lru_cache
import openai
uri = "data/lancedb"
db = lancedb.connect(uri)

In [ ]:
from langchain.prompts.prompt import PromptTemplate

In [2]:

text_files = []
text_data = []
def text_extractor(file_path):
    global text_files
    text_files = [f for f in os.listdir(file_path) if f.endswith(".txt")]
    for i in text_files:
        files = file_path + i
        with open(files, 'r') as file:
            read = file.readlines()
            text_data.append(read)

text_extractor("C:/Code/OpenAI/Doc/")

In [23]:
df = pd.DataFrame({"text":["".join(f).replace('\n',' ') for f in text_data]})
df

                                                text
0  **Artificial Intelligence: Empowering the Futu...
1  {As a DATA Engineer, write a SQL to retrive th...
2  **Windows 11: The Next Evolution of Microsoft'...
3  India vs West Indies, 2nd Test Day 1 Highlight...

In [24]:
openai.api_key = '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'
assert len(openai.Model.list()["data"]) > 0

In [9]:
def embed_func(c):
    rs = openai.Embedding.create(input=c, engine="text-embedding-ada-002")
    return [record["embedding"] for record in rs["data"]]

In [25]:
data = with_embeddings(embed_func, df)

In [ ]:
db.create_table("KB", data=data,mode="overwrite")

In [26]:
# @lru_cache()
# def vector_db(): 
#     return db.open_table("KB")

tb1 = db.open_table("KB")

In [35]:
#query = "What is the total AUM of the fund which is handled by protfolio manager ROHAN ?"
#query = "What is the percentage increase in AUM between Jan 2023 and Mar 2023 for fund MSIM ?"
query = "Give insights on India vs West Indies test match"
query_vector = embed_func([query])[0]

In [36]:
start = time.time()
text = tb1.search(query_vector).metric("l2").limit(2).to_df()
end = time.time()
timetaken = end - start
print(timetaken)
text

0.012515068054199219

,text,vector,score
0,"India vs West Indies, 2nd Test Day 1 Highlight...","[-0.0059080194, 0.013142127, 0.028659336, 0.03...",0.275483
1,**Windows 11: The Next Evolution of Microsoft'...,"[-0.011604038, -0.007834365, -0.01863202, -0.0...",0.584463

In [37]:
messages = []
messages.append({"role": "system", "content": "You are a Data Analyst, without any external knowledge you will be refering to the provided text and provide answer to the given question and do not mention anything about provided content."})

ZERO_SHOT_PROMPT_ENGINEERING = f"""
Answer this question: {query}
Attempt to answer the question or generate a SQL query based on this content: {text['text'][0]}
"""
question = {}
question['role'] = 'user'
question['content'] = ZERO_SHOT_PROMPT_ENGINEERING
messages.append(question)

In [30]:
messages

[{'role': 'system',
  'content': 'You are a Data Analyst, without any external knowledge you will be refering to the provided text and provide answer to the given question and do not mention anything about provided content.'},
 {'role': 'user',
  'content': '\nAnswer this question: What is the percentage increase in AUM between Jan 2023 and Mar 2023 for fund MSIM ?\nAttempt to answer the question or generate a SQL query based on this content: {As a DATA Engineer, write a SQL to retrive the data using below metadata {     "TABLE_NAME": "MUTUAL_FUND",     "COLUMNS": ["FUND_NAME","MANAGER_NAME","DATE","AUM"],     "COLUMNS_DATATYPE": ["VARCHAR","VARCHAR","DATE","FLOAT"],     "TABLE_DESCRIPTION": "This table holds the all the AUM (Assets under management) including the fund names     and portfolio manager name with the inception date",     "COLUMNS_DESCRIPTION": {         "FUND_NAME": "This the mutual fund name.",         "MANAGER_NAME": "Manager - who is handeling the fund also know as portfolio manager",         "DATE": "Mutual fund start date"., "Date Format": "YYYY-MM-DD",         "AUM": "Total amount/money present in fund - Assets under management"      }  } }\n'}]

In [38]:
answer = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=messages
)

In [39]:
answer['choices'][0]['message']['content'].replace('\n', '<br>')

"Based on the provided information, here are some insights on the India vs West Indies test match:<br>- India's opening stand was strong with Rohit Sharma and Yashasvi Jaiswal looking comfortable in the first session.<br>- However, in the second session, West Indies' Jason Holder proved to be dangerous, breaking India's opening stand on 139. India lost two more wickets for just over 20 runs.<br>- Jaiswal scored 57 off 74 before falling to Holder. Rohit Sharma scored 80 off 143 before getting out as well. Shubman Gill fell on 10.<br>- In his 500th international appearance, Virat Kohli took 21 balls to get off the mark but eventually scored an unbeaten 87 off 161, leading India's rebuild after the second session setback.<br>- Ravindra Jadeja also made an impressive contribution with 36 off 84 balls. Kohli and Jadeja had a partnership of 106 off 201 deliveries.<br>- At the end of the day, India finished on 288/4. Kohli's score was mentioned to be 87 off 161, but there is no mention of him scoring 100 runs.<br>- Overall, India had two wicketless sessions which helped them regain control of the match."

In [ ]:
del tbl